<table border="0" padding="10">
<% for (var each in books) { var id = books[each].data.id, url = books[each].data.url %>
       <tr> 
            <td>
                <h3>
                    <a href="<%= 'builds/' + books[each].data.id + '-' + books[each].data.builtFilename %>" target="book"><%= books[each].title %> [<%= books[each].data.id %>]</a> 
                </h3>
            </td>
            <td>    
                <center>
                    <h3>
                        <% if (!books[each].data.publishing) { %>
                            <span class="active-indicator-button login-window"><a class="login-window" href="javascript:;" onClick="clickToPublish('<%= url%>', '<%= id %>'); return false;">Publish</a></span>
                        <% } else { %>
                            <%if (books[each].data.onPublishQueue) { %>
                                <span class="active-indicator-button"><a target="_blank" href="/publishstream.html?publishid=<%= books[each].data.publishID %>">Queued</a></span>
                            <% } else { %>
                                <span class="active-indicator-button"><a target="_blank" href="/publishstream.html?publishid=<%= books[each].data.publishID %>">Publishing</a></span>
                            <% } %>
                        <% } %>
                    </h3>
                </center>
            </td>
            <td>
                <center>
                    <h3>
                    <% if (books[each].data.publishing) { %>
                        <span class="action-button btn-log"><a href="javascript:;" onclick="$.get('/rest/1/stopPublish?uid=<%= books[each].data.publishID %>', function(result){console.log(result);});">End Publish Job</a></span>    
                    <% } else { %>
                        <% if (books[each].data.hasPublishLog) { %>
                            <span class="action-button btn-log"><a target="_blank" href="<%= 'builds/' + books[each].data.id + '-' + books[each].data.builtFilename + '/publish.log'%>">Publish Log</a></span>
                        <% } %>
                    <% } %>
                    </h3>
                </center>
            </td>
        </tr>
    <% } %>
</table>