<table border="0">
<% for (var each in books) { var title = books[each].title, id = books[each].id, url = books[each].url, thisBook = data[url][id] %>
       <tr> 
            <td>
                <h3>
                <% if (thisBook.builtFilename) { %>
                    <% if (thisBook.buildError) { %>
                        <span class="active-indicator-button"><a href="<%= 'builds/' + id + '-' + thisBook.builtFilename %>" target="_blank"><%= title %> [<%= id %>]</a></span>
                    <% } else { %>
                        <span class="book-title"><a href="<%= 'builds/' + id + '-' + thisBook.builtFilename %>" target="_blank"><%= title %> [<%= id %>]</a></span>
                    <% } %>
                <% } else { %>
                    <span title="This book has not been built yet - click 'Build Book' to initiate a build"><%= title %> [<%= id %>]</span>
                <% } %>
                </h3>
            </td>
                <td>
                    <center>
                    <h3>
                        <span class="action-button btn-structure"><a target="cspec" href="/cspec-editor.html?skyneturl=<%= url%>&topicid=<%= id %>">Edit Structure</a></span>
                    </h3>
                    </center>
                </td>
                <td>
                    <center>
                    <h3>
                        <% if (thisBook.locked) { %>
                            <% if (thisBook.onQueue) { %>
                                <span class="active-indicator-button"><a target="_blank" href="/buildlog.html?buildid=<%= thisBook.buildID %>">Queued</a></span>
                            <% } else { %>
                                <span class="active-indicator-button"><a target="_blank" href="/buildlog.html?buildid=<%= thisBook.buildID %>">Rebuilding</a></span>
                            <% } %>
                            </h3><center></td>
                            <td><center><h3>
                            <span class="action-button btn-log">Build Log</span>
                        <% } else { %>
                            <% if (thisBook.builtFilename) { %>
                                <span class="action-button btn-rebuild"><a href="javascript:;" onclick="rebuild('<%=url%>', '<%=id%>')">Rebuild Book</a></span>
                                </h3></center></td><td><center><h3>
                                <% if (thisBook.buildError) { %>
                                    <span class="active-indicator-button btn-log"><a target="_blank" href="<%= 'builds/' + id + '-' + thisBook.builtFilename + '/build.log'%>">Build Error</a></span>
                                <% } else { %>
                                    <span class="action-button btn-log"><a target="_blank" href="<%= 'builds/' + id + '-' + thisBook.builtFilename + '/build.log'%>">Build Log</a></span>
                                <% } %>
                            <% } else { %>
                                <span class="active-indicator-button"><a href="javascript:;" onclick="rebuild('<%=url%>', '<%=id%>')">Build Book</a></span>
                                </h3></center></td><td><center><h3>
                                <span class="action-button btn-log">Build Log</span>
                            <% } %>
                        <% } %>
                    </h3>
                    </center>
                </td>

        </tr>
    <% } %>
</table>