<table border="0">
<% for (var each in books) { var id = books[each].data.id, url = books[each].data.url %>
       <tr> 
            <td>
                <h3>
                <% if (books[each].data.builtFilename) { %>
                    <a href="<%= 'builds/' + books[each].data.id + '-' + books[each].data.builtFilename %>" target="_blank"><%= books[each].title %> [<%= books[each].data.id %>]</a> 
                <% } else { %>
                    <span title="This book has not been built yet - click 'Build Book' to initiate a build"><%= books[each].title %> [<%= books[each].data.id %>]</span>
                <% } %>
                </h3>
            </td>
                <td>
                    <center>
                    <h3>
                        <span class="action-button btn-structure"><a target="cspec" href="/cspec-editor.html?skyneturl=<%= url%>&topicid=<%= id %>">Edit Structure</a></span>
                    </h3>
                    </center>
                </td>
                <td>
                    <center>
                    <h3>
                        <% if (books[each].data.locked) { %>
                            <% if (books[each].data.onQueue) { %>
                                <span class="active-indicator-button"><a target="log" href="/buildlog.html?buildid=<%= books[each].data.buildID %>">Queued</a></span>
                            <% } else { %>
                                <span class="active-indicator-button"><a target="log" href="/buildlog.html?buildid=<%= books[each].data.buildID %>">Rebuilding</a></span>
                            <% } %>
                            </h3><center></td>
                            <td><center><h3>
                            <span class="action-button btn-log">Build Log</span>
                        <% } else { %>
                            <% if (books[each].data.builtFilename) { %>
                                <span class="action-button btn-rebuild"><a href="/action/rebuild?url=<%= url%>&id=<%= id %>">Rebuild Book</a></span>
                                </h3></center></td><td><center><h3>
                                <span class="action-button btn-log"><a href="<%= 'builds/' + books[each].data.id + '-' + books[each].data.builtFilename + '/build.log'%>">Build Log</a></span>
                            <% } else { %>
                                <span class="active-indicator-button"><a href="/action/rebuild?url=<%= url%>&id=<%= id %>">Build Book</a></span>
                                </h3></center></td><td><center><h3>
                                <span class="action-button btn-log">Build Log</span>
                            <% } %>
                        <% } %>
                    </h3>
                    </center>
                </td>
                <td>    
                    <center>
                        <h3>
                            <span class="btn-publish action-button"><a href="/action/publish?url=<%= url%>&id=<%= id %>">Publish Book</a></span>
                        </h3>
                    </center>
                </td>
        </tr>
    <% } %>
</table>