<% var navClass = { home: 'not', add: '', remove: 'not', publish: 'not'}
    if (mode && navClass[mode]) navClass[mode] = 'active'; %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Death Star >9000</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="<%= navClass.home %>">
                <a href="/">Build Book</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="<%= navClass.add %>"><a href="/add">Add Book</a></li>
            <li class="divider-vertical"></li>
            <li class="<%= navClass.remove %>"><a href="/remove">Remove Book</a></li>
            <li class="divider-vertical"></li>
            <li class="<%= navClass.publish %>"><a href="/publish">Publish Book</a></li>
            <li class="divider-vertical"></li>
            <li class="<%= navClass.about %>"><a href="/about">About</a></li>
        </ul>
    </div>
</div> 