<table border="0" cellpadding="20">
    <% for (var each in books) { var title = books[each].title, id = books[each].id, url = books[each].url, thisBook = data[url][id] %>
    <tr>

        <!-- Book Name and link to Book -->
        <td>
            <h4>
                <% if (thisBook.builtFilename) { %>
                <% if (thisBook.buildError) { %>
                <span class="active-indicator-button"><a href="<%= 'builds/' + id + '-' + thisBook.builtFilename %>" target="_blank"><%= title %> [<%= id %>]</a></span>
                <% } else { %>
                <span class="book-title"><a href="<%= 'builds/' + id + '-' + thisBook.builtFilename %>" target="_blank"><%= title %> [<%= id %>]</a></span>
                <% } %>
                <% } else { %>
                <span title="This book has not been built yet - click 'Build Book' to initiate a build"><%= title %> [<%= id %>]</span>
                <% } %>
            </h4>
        </td>

        <!-- Edit Structure -->
        <td>
            <center>
                <h4>
                    <span class="action-button btn-structure"><a target="cspec" href="/cspec-editor.html?skyneturl=<%= url%>&topicid=<%= id %>">Edit Structure</a></span>
                </h4>
            </center>
        </td>

        <!-- Rebuild or Building / Publishing indicator -->
        <td>
            <center>
                <h4>
                    <% if (thisBook.building) { %>
                    <% if (thisBook.onBuildQueue || thisBook.onPublishQueue) { %>
                                <span class="active-indicator-button">
                                    <a target="_blank" href="/buildlog.html?buildid=<%= thisBook.uuid %>">
                                        Queued
                                    </a>
                                </span>
                    <% } else { %>
                                <span class="active-indicator-button css3-blink">
                                    <a target="_blank" href="/buildlog.html?buildid=<%= thisBook.uuid %>">
                                        Rebuilding
                                    </a>
                                </span>
                    <% } %>
                    <% } else { %>
                    <% if (thisBook.publishing) { %>
                    <% if (thisBook.onPublishQueue) { %>
                                    <span class="active-indicator-button">
                                        <a target="_blank" href="/buildlog.html?buildid=<%= thisBook.uuid %>">
                                            Queued
                                        </a>
                                    </span>
                    <% } else { %>
                    <% if (thisBook.inBrew) { %>
                    <span class="active-indicator-button"><a target="_blank" href="/publishstream.html?publishid=<%= thisBook.uuid %>">In Brew</a></span>
                    <% } else { %>
                                    <span class="active-indicator-button">
                                        <a target="_blank" href="/publishstream.html?publishid=<%= thisBook.uuid %>">
                                            Publishing
                                        </a>
                                    </span>
                    <% } %>
                    <% } %>
                    <% } else { %>
                                    <span class="action-button btn-rebuild">
                                        <a href="javascript:;" onclick="rebuild('<%=url%>', '<%=id%>')">
                                            Rebuild Book
                                        </a>
                                    </span>
                    <% } %>
                    <% } %>
                </h4>
                <center>
        </td>


        <!-- Build Error or Build Log -->
        <td>
            <center>
                <h4>
                    <% if (thisBook.buildError) { %>
                                <span class="active-indicator-button btn-log">
                                    <a target="_blank" href="<%= 'builds/' + id + '-' + thisBook.builtFilename + '/build.log'%>">
                                        Build Error
                                    </a>
                                </span>
                    <% } else { %>
                                <span class="action-button btn-log">
                                    <a target="_blank" href="<%= 'builds/' + id + '-' + thisBook.builtFilename + '/build.log'%>">
                                        Build Log
                                    </a>
                                </span>
                    <% } %>
                </h4>
            </center>
        </td>
    </tr>
    <% } %>
</table>